<footer class="bg-dark text-light pt-5 pb-3 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">MangaHub</h5>
        <p class="small">
          Read. Collect. Celebrate Anime.<br />Your one-stop manga e-book &
          merchandise platform.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h6 class="fw-bold">Quick Links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/index.html" class="text-light text-decoration-none"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/E-Books Library.html"
              class="text-light text-decoration-none"
              >E-Books</a
            >
          </li>
          <li>
            <a
              href="/Product Store.html"
              class="text-light text-decoration-none"
              >Store</a
            >
          </li>
          <li>
            <a
              href="/about.html"
              class="text-light text-decoration-none"
              >About</a
            >
          </li>
          <li>
            <a
              href="/contact.html#contact"
              class="text-light text-decoration-none"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h6 class="fw-bold">Follow Us</h6>
        <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-light"><i class="bi bi-discord"></i></a>
      </div>
    </div>
    <div class="text-center mt-4 small">
      &copy; 2024 MangaHub. All rights reserved.
    </div>
  </div>
</footer>
